.box1 {
    float: left;
    background-color: gainsboro;
    width: 98%;
    height: 160px;
    margin: 5px;
    padding: 4px;
    border: 2px solid black; 
    text-align: justify;
}
.box2 {
    float: left;
    background-color: lawngreen;
    width: 15%;
    height: 190px;
    margin: 5px;
    padding: 4px;
    border: 2px solid black; 
    text-align: justify;
}
.box3 {
    float: left;
    background-color: firebrick;
    width: 81%;
    height: 190px;
    margin: 5px;
    padding: 4px;
    border: 2px solid black; 
    text-align: justify;
}
.box4 {
    float: left;
    background-color: darkorange;
    width: 15%;
    height: 210px;
    margin: 5px;
    padding: 4px;
    border: 2px solid black; 
    text-align: justify;
}
.box5 {
    float: left;
    background-color: deepskyblue;
    width: 81%;
    height: 210px;
    margin: 5px;
    padding: 4px;
    border: 2px solid black; 
    text-align: justify;
} 